* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    margin-left: 20px;
}
.info {
    border-bottom: 1px solid lightgrey;
}

.info h1 {
    font-size: 1.6rem;
}

.info p {
    font-size: ;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

.age-range {
    height: 60px;
}

.age-range select {
    width: 500px;
}

.tittle {
    font-size: 1.4rem;
}

.selection {
    margin-top: 10px;
}

.income-range {
    height: 60px;
}
.income-range select {
    width: 500px;
}

.gender {
    height: 160px;
}

.gender input {
    margin: 6px 6px;
    position: relative;
    top: 2px;
}

.gender .selection {
    position: relative;
    top: -8px;
}

.purchased-product {
    height: 110px;
}

.purchased-product input {
    margin: 6px 6px;
    position: relative;
    top: 2px;
}

.purchased-product .selection {
    position: relative;
    top: -8px;
}

.frequency {
    height: 110px;
}

.frequency input {
    margin: 6px 6px;
    position: relative;
    top: 2px;
}

.frequency .selection {
    position: relative;
    top: -8px;
}

.will-buy {
    height: 80px;
}

.will-buy input {
    margin: 6px 6px;
    position: relative;
    top: 2px;

}

.will-buy .selection {
    position: relative;
    top: -8px;
}

.will-buy pre {
    margin-left: 16px;
}

.features {
    height: 180px;
}

.features textarea {
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table th {
    text-align: center;
    height: 40px;
    border: 1px solid #ddd;
    padding: 8px;
}

table td {
    text-align: center;
    height: 40px;
    border: 1px solid #ddd;
    padding: 8px;
}

.shadow-row {
    background-color: #e6e6e6;
}

.light-row {
    background-color: #f5f5f5;
}