.container {
    width: 1200px;
    max-width: 100%;
}

.heading {
    background-color: orangered;
    color: white;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

p {
    color: blue;
}

form {
    border: 2px solid black;
    width: 500px;
}
.name {
    margin-left: 20px;
}

.email {
    margin-left: 48px;
}

.hobby {
    position: relative;
    top: -40px;
    margin-left: 66px;
    color: darkorange;
}

.hobby_item {
    margin: 10px 20px;
}

span {
    display: inline-block;
    width: 80px;
}

.complete_form {
    margin-left: 80px;
    position: relative;
    top: -20px;
}
/*Form 2*/

.form2__heading {
    color: blue;
    background-color: palegreen;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.form2__name {
    margin-left: 20px;
}

.form2__dob {
    margin-left: 20px;
}

input.form2__sex-select {
    margin-left: 22px;
}

textarea {
    margin-left: 32px;
}

select {
    margin-left: 50px;
}

.form2__email {
    margin-left: 38px;
}

.form2__tel {
    margin-left: 10px;
}

.form2__complete_form {
    margin-left: 80px;
}
